body {
  background-color: #202020;
}

li {
  font-style: Roboto;
  border: 1px solid black;
  margin: 2%;
  padding: 2%;
  width: 100%;
}

ul {
  position: relative;
  left: 0;
  list-style-type: none;
  margin: 1%;
  padding: 0
}

.box {
  color: rgb(205, 205, 205);
  background: #3b3b3b;
  text-align: center;
  float: left;
  width: 200px;
  padding-bottom: 2%;
  margin: 10px;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  overflow: hidden;
}

.box h1 {
  font-size: 120%;
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.button {
  color: rgb(205, 205, 205);
  background: #3b3b3b;
  text-align: center;
  margin: 3% auto 3% auto;
  border-radius: 2px;
  padding: 2%;
  width: 80%;
  box-shadow: 0 1px 3px rgba(255, 255, 255, 0.12), 0 1px 2px rgba(255, 255, 255, 0.24);
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
  font-size: 120%;
  cursor: pointer;
}

.button:hover {
  margin-top: 4%;
  padding-bottom: 0;
  box-shadow: 0 14px 28px rgba(255, 255, 255, 0.25), 0 10px 10px rgba(255, 255, 255, 0.22);
  font-size: 130%;
}
