body {
    background-color: #fafafa;
    font-family: 'Lato', sans-serif;
}

#wslList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21em, 1fr));
}

.box {
    border: 0.2em #9ce1fc solid;
    border-radius: 1em;
    padding: 1em;
    margin: 2em;
    font-size: 100%;
}

.box > * {
    font-size: 110%;
}

.nice-btn.green {
    --border-color: #bce2ba;
    --water-color: #d9efd7;
    --hue-color: #e6ffe8;
}

.nice-btn.red {
    --border-color: #e0a6a6;
    --water-color: #f4d0d0;
    --hue-color: #ffd9d9;
}

.nice-btn.blue {
    --border-color: #628fe0;
    --water-color: #b0c9e0;
    --hue-color: #e0f3ff;
}

.nice-btn {
    position: relative;
    font-family: 'Lato', sans-serif;
    color: #666;
    margin: 1em 1em 0 0;
    padding: .8em;
    border: solid var(--border-color) 0.1em;
    border-radius: 1.5em;
    background-color: transparent;
    overflow: hidden;
    transition: .3s;
    user-select: none;
}

.nice-btn:before, .nice-btn:after {
    content: "";
    position: absolute;
    display: block;
    background-color: var(--water-color);
    transition: all 1s;
    z-index: -1;
}

.nice-btn:before {
    width: 2em;
    height: 2em;
    left: -1em;
    top: 100%;
    box-shadow: 1.3em 0.5em 0 0 var(--water-color), 2.5em 0.1em 0 0 var(--water-color), 3.5em 0.2em 0 0 var(--water-color), 4.7em 0.5em 0 0 var(--water-color), 5.5em 0.1em 0 0 var(--water-color), 6.5em 0.5em 0 0 var(--water-color), 8.5em 0.5em 0 0 var(--water-color), 7.5em 0.3em 0 0 var(--water-color);
    border: 0;
    border-radius: 50%;
}

.nice-btn:after {
    width: 150%;
    height: 100%;
    left: -1em;
    top: 130%;
    border: 0;
}

.nice-btn:hover:before {
    top: -10%;
}

.nice-btn:hover:after {
    top: 0;
}

.nice-btn:active {
    box-shadow: 0 0 1em 1em var(--hue-color);
}

.fixed-bottom-left {
    position: fixed;
    bottom: 0;
    margin: .5em;
    vertical-align: bottom;
}